## Defining Variables

In [ ]:
_a1 = 1

In [ ]:
__a = 1

In [ ]:
a@gmail.com = 1

In [ ]:
if = 2

In [ ]:
a = 1
type = 1
type(a)

In [ ]:
len = 1

In [1]:
a = [1,2,3]

In [3]:
len(a)

3

In [5]:
count = 100
kilometers = 1000.0
name = "Hardik"

In [6]:
print(count, kilometers, name)

100 1000.0 Hardik

In [9]:
a,b,c = 1,2, "John Doe"
print(a, b,c)

1 2 John Doe

In [8]:
a,b,c=1,2,"Diwakar"
print(a,b,c)

1 2 Diwakar

In [10]:
a

1

In [11]:
b

2

In [12]:
c

'John Doe'

In [32]:
a = 3.3j
b = c = 4

In [14]:
a, b, c

(1, 1, 1)

In [30]:
for i in [b,c]:
    print(type(i))

<class 'int'>
<class 'int'>

In [43]:
class Node:
    def __init__(self, data, next_ = None):
        self.data = data
        self.next = next_
        
    def __repr__(self):
        return f"{self.data} -> {self.next}"
    
    def __str__(self):
        return f"{self.data} -> {self.next}"

In [48]:
ll = Node(10, Node(20, Node(30, Node(40))))

AssertionError: